<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <style>
        body
        {
            background-color: rgb(0, 255, 242);
        }
        #b
        {
            color: blue;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is Amazon Website</h1>
        <h2>Click below link to navigate to amazon</h2>
        <h2><a href="http://amazon.com" id="b">amazon</a></h2>
        <h2><a href="{% url 'main' %}">main</a></h2>

    </center>
</body>
</html>