<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart</title>
    <style>
        body
        {
            background-color: rgba(0, 0, 255, 0.168);
        }
    </style>
</head>
<body>
    <center>
        <h1>This is Flipkart Website</h1>
        <h2>Click below link to navigate to filpkart</h2>
        <h2><a href="http://flipkart.com">flipkart</a></h2>
        <h2><a href="{% url 'main' %}">main</a></h2>
    </center>
</body>
</html>