<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myntra</title>
    <style>
        body
        {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is Myntra website</h1>
        <h2>Click below link to navigate to myntra</h2>
        <h2><a href="http://myntra.com">myntra</a></h2>
        <h2><a href="{% url 'main' %}">main</a></h2>
    </center>
</body>
</html>